h1 {
	color: #8daaba;
}

div {
	border: 4px solid #36b5ff;
 	background: #3679ff;
 	padding: 36px;
}
h2 {
	color: white;
}
a {
	color: white;
	padding-left: 25px;
}

.name {
	color: black;
}
img {
	border-radius: 50px;
	width: 300px; 